*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: cursive;
}

h1{
    font-size: 50px;
    font-weight: lighter;
}

h1, nav{
    display: inline;
}

header{
    background-color: rgb(255, 255, 255);
}

div img{
    background-color: black;
    width: 100vw;
}

.logo{
    background-color: aliceblue;
    width: 8vw;
}

main div{
    display: inline-block;
    margin: 5px;
    background-color: blueviolet;
    width: 60vw;
}

button a {
    font-size: 2vw;
    color: white;
    padding: 5px;
    text-decoration: none;
}

button{
    background-color: rgba(35, 123, 206, 0.877);
}

.img_1, .img_2, .img_3{
    width: 20vw;
}

a[href="#"]{
    background-color: rgba(127, 255, 159, 0.61);
}
