*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

h1{
    font-size: 4.5vw;
    font-weight: lighter;
    margin-right: 20px;
    margin-left: 10px;
}

h1, nav{
    display: inline;
}

div img{
    width: 100vw;
}

.logo{
    background-color: aliceblue;
    width: 8vw;
    margin: 1vh;
}

main div{
    display: inline-block;
    margin: 5px;
    width: 60vw;
}

nav a {
    font-size: 2vw;
    color: white;
    padding: 5px;
    text-decoration: none;
    background-color: rgba(35, 123, 206, 0.877);
    margin: 5px;
    border: 2px solid black;
    text-align: center;
}

.img_1, .img_2, .img_3{
    width: 20vw;
}

a[href="#"]{
    background-color: rgba(127, 255, 159, 0.61);
}

.subtitulo{
    border: 3px solid black;
    text-align: center;
}
