* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}

nav {
    display: flex;
    flex-wrap: wrap;
}



/* h1 {
    font-size: 4.5vw;
    font-weight: lighter;
    margin-right: 20px;
    margin-left: 10px;
}

h1, nav {
    display: inline;
}

div img {
    width: 98vw;
}

.logo {
    background-color: aliceblue;
    width: 8vw;
    position: absolute;
    margin-top: 2vw;
    border: 3px solid rgb(0, 255, 76)
    ;

}

main div {
    display: inline-block;
    margin-left: 15vw;
    width: 60vw;
}

nav a {
    font-size: 2vw;
    color: white;
    padding: 5px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.877);
    margin: 5px;
    border: 2px solid rgb(0, 255, 76)
    ;
    text-align: center;
}

.img_1, .img_2, .img_3 {
    width: 20vw;
}

a[href="#"] {
    background-color: rgb(0, 139, 35);
}

a[href="mailto:mdhl@chihockey.org"] {
   color: rgb(251, 255, 10);
}

.subtitulo {
    border: 3px solid rgb(0, 255, 76);
    text-align: center;
    margin-top: 0;
    width: 98vw;
}
nav {
    position: absolute;
    right: 2vw;
    top: 10vh;
}

.contact, .mision, .img_2, .img_1{
    position: absolute;
    margin-top: 2vw;

}

.img_3 {
    position: absolute;
    margin-left: 70vw;
    margin-top: 2vw;
}

.upcoming {
   margin-top: 2vw;
}

.img_2 {
    margin-left: 75vw;
} */

